body{
    background-color: black;
}
h1{
    color:chartreuse;
}
.item{
    color:red;
    text-decoration: line-through;
    text-decoration-color: white;
}
.item2{
    color: darkorange;
    text-decoration: underline chartreuse;
    
}
.one{
    color: blue;
}

.two{
    color: aquamarine;
}
.list_item :nth-child(1){
text-decoration: underline;
text-decoration-color: aliceblue;
}
/* .main_head h1{
    color: gold;
} */

.main_head h1:nth-child(1){
    color: gold;
}